@use "../variables/colors" as *;
@use "../variables/breakpoints" as *;
@import "../../../node_modules/rfs/scss.scss";
.intro {
  p {
    @include font-size(12.6px);
    @include margin-bottom(18px);
    color: $red;
    font-weight: 800;
    text-transform: uppercase;
  }

  h3 {
    font-weight: 500;
    @include font-size(45px);
    color: $black;
  }
}
.centered {
  p {
    text-align: center;
  }

  h3 {
    text-align: center;
    @include tab {
      width: 84%;
      margin: 0 auto;
    }
    @include tab-lan {
      width: 80%;
    }
  }
}
