@import "./variables/fonts";
@import "./variables/breakpoints";
@import "./variables/colors";
@import "./variables/fonts";
@import "./variables/layout";
@import "./variables/sizes";
@import "../../node_modules/rfs/scss.scss";
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;800;900&display=swap");

:root {
  font-size: $main_font;
  font-family: "M PLUS 1p", sans-serif;

  * {
    box-sizing: border-box;
  }
}
body {
  & {
    margin: 0;
    padding: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li {
    padding: 0;
    margin: 0;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}
