@use "../main.scss" as *;
.fourth {
  background-color: $purpleMedium;

  &_grid {
    @include flex-center(row);
    justify-content: center;

    p {
      color: $white;
      @include font-size(18px);
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 4px;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      column-gap: 90px;
      row-gap: 60px;
      margin-top: 144px;
      margin-bottom: 149px;

      &_title {
        grid-column: span 2 / span 2;
      }

      &_image {
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@include tab-lan {
  .fourth_grid {
    justify-content: flex-end;

    .grid {
      column-gap: 128px;
      row-gap: 75.23px;
    }
  }
}
