@use "../main.scss" as *;

footer {
  @include flex-center(column);
  @include padding(20px 40px);
  @include tab-lan {
    @include padding(50px 70px);
  }
  @include desktop {
    @include padding(90px 90px);
  }

  @include laptop {
    @include padding(100px 120px);
  }
  @include notebook {
    @include padding(126px 147px);
  }
}

.footer_main {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;

  @include tab {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include desktop {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  &-prime {
    @include flex-center(column);
    align-items: flex-start;
    justify-content: flex-start;
    grid-column: span 2 / span 2;

    &__title {
      color: $white;
      @include font-size(24px);
      letter-spacing: 2px;
      font-weight: 900;
      @include margin-bottom(17px);
    }

    &__text {
      @extend .footer_main-prime__title;
      @include font-size(16.2px);
      font-weight: 400;
      width: 57%;
      @include desktop {
        width: 100%;
      }
    }
  }
  &-menu {
    p {
      @include font-size(12.6px);
      color: $white;
      letter-spacing: 6px;
      text-transform: uppercase;
      font-weight: 800;
      border-bottom: 1px solid $red;
      padding-bottom: 10px;
      @include margin-bottom(28px);

      @include tab {
        width: 100%;
        max-width: fit-content;
      }
    }

    li {
      color: $white;
      margin-bottom: 5px;
      a {
        color: inherit;
        transition: color 0.3s linear;

        &:hover {
          color: $red;
        }
      }
    }
  }
  &-services {
    @extend .footer_main-menu;
    @include desktop {
      grid-column: span 2 / span 2;
    }
  }
  &-contact {
    @extend .footer_main-menu;
    grid-column: span 2 / span 2;

    @include tab {
      grid-column: span 1 / span 1;
    }
    @include desktop {
      grid-column: span 2 / span 2;
    }
    p {
      text-align: center;
      @include tab {
        text-align: left;
      }
    }
    ul {
      @include flex-center(column);
      align-items: flex-start;
    }
    a {
      @include flex-center(row);
    }
    span {
      @include margin-right(18px);
    }
  }
  &-follow {
    @extend .footer_main-menu;
    grid-column: span 2 / span 2;
    @include tab {
      grid-column: span 1 / span 1;
    }
    @include desktop {
      grid-column: span 2 / span 2;
    }
    p {
      text-align: center;
      @include tab {
        text-align: left;
      }
    }
    ul {
      @include flex-center(row);
      @include tab {
        justify-content: flex-start;
      }
      & li:first-child {
        @include margin-left(0px);
      }

      li {
        @include margin-left(41.4px);

        img {
          width: 100%;
          height: 100%;

          @include tab {
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}
