@use "../main.scss" as *;
.third {
  margin-top: 182px;
}
.numbers {
  margin-top: 118px;
  margin-bottom: 180px;
  overflow: hidden;
  @include flex-center(column);

  @include tab {
    @include flex-center(row);
    justify-content: space-evenly;
  }

  .number_one {
    @include flex-center(column);
    margin-bottom: 50px;

    @include tab {
      margin-bottom: 0px;
    }
    h1 {
      @include font-size(99px);
      color: $red;
      background-image: url("../../images/numbers/pattern-one.svg"),
        linear-gradient(to right, $red, rgba(255, 255, 255, 0));
      background-position: center;
      background-size: 0%;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      cursor: pointer;
      transition: background-size 0.6s linear;

      &:hover {
        color: transparent;
        background-size: 100%;
      }
    }

    p {
      @include font-size(12.6px);
      color: $black;
      text-transform: uppercase;
      letter-spacing: 6px;
    }
  }

  .number_two {
    @extend .number_one;
    h1 {
      color: $purpleLigth;
      background-image: url("../../images/numbers/pattern-two.svg"),
        linear-gradient(to right, $red, rgba(255, 255, 255, 0));
      background-position: center;
      background-size: 0%;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      cursor: pointer;
      transition: background-size 0.6s linear;
    }
  }
  .number_three {
    @extend .number_one;
    h1 {
      color: $green;
      background-image: url("../../images/numbers/pattern-three.svg"),
        linear-gradient(to right, $red, rgba(255, 255, 255, 0));
      background-position: center;
      background-size: 0%;
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-background-clip: text;
      cursor: pointer;
      transition: background-size 0.6s linear;

      &:hover {
        background-size: 150%;
      }
    }
  }
}
